*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #33363B;
  font-family: Arial;
  font-size: 22px;
  z-index: 1;
}

.button {
  color:#eaeaea;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 7px;
  margin-left: 20px;
  margin-top: 5px;
}

 a:hover, a:active{
  color: #33363B;
  background-color: #eaeaea;
}

.content{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #EAEAEA;
}

.inner-container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width: 80%;
  height: 93%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border-radius: 3px;
  background-color: #fff;
}

.subject-bar{
  text-align: center;
  font-family: Arial;
  color: #666;
  position: relative;
  transform: translateY(+50%);
  margin-top: 50px;
}

.footer{
  position: fixed;
  bottom: 0;
  max-height: 35px;
  width: 100%;
  background-color: #33363B;
  font-family: Arial;
  font-size: 22px;
  padding: 1vw 0;
}

.footerMessage{
  color: #eaeaea;
  text-align: center;
  font-size: 11px;
}
