.placesToContact {
	padding-top: 30px;
	text-align: center;
}

.placesToContact a:hover, .placesToContact a:active {
	color: #4BA7C2 !important;
  background-color: #fff !important;
}

#third-party {
	color: #4D7B86;
	text-decoration: none;
	font-size: 28px;
	font-family: Arial;
}

#seperator{
	color: rgba(44, 92, 103, 0.83);
	font-size: 20px;
}

.github {
}

.contact-container{
	position: relative;
	background-color: #eaeaea;
	margin-top: 285px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	min-width: 500px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	border-radius: 3px;
}


p.name {
	padding-top: 25px;
	padding-left: 20px;
	width: 48%;
	float: left;
}

p.email {
	padding-top: 25px;
	width: 48%;
	float: right;
}

p.textBox {
	padding-top: 100px;
	padding-left: 20px;
}

p.submit {
	text-align: right;
}

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 90%;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
	width: 95%;
	height: 150px;
	max-width: 100%;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
	color: #999999;
	padding: 6px 0;
  font-weight: 600;
  display: block;
}


.submit input {
	width: 100px;
	height: 40px;
	background-color: #474E69;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
