*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
}

div{
  display: block;
}
#wrapper {
  min-width: 300px;
}

#header{
  background: #33363b;
  position: relative;
  padding-bottom: 140px;

}

#container-top{
  margin: auto;
  width: 95%;
  max-width: 1685px;
  padding-top: 60px;
}

.site-title a{
  display: block;
  color: #fff;
  max-width: 100%;
  font-size: 42px;
  float: left;
}

.site-description{
  font-size: 16px;
  font-style: italic;
  color: rgb(148, 148, 148);
  float: left;
  margin-left: 20px;
  line-height: 55px;
}

#page{
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  width: 50%;
  height: 100%;
  min-height: 90%;

}

#footer-bottom{
  background: #33363b;
  height: 80px;
}
.container-inner-footer{
  margin: auto;
  width: 90%;
  max-width: 1600px;
  padding-top: 30px;
}

.footer-message{
  font-size: 16px;
  font-style: italic;
  color: rgb(148, 148, 148);
}

.pad{
  padding: 30px 30px 20px;
}
.featured{
  margin: auto;
  width: 75%;
}

img{
  max-width: 1080px;
  width: 100%;
  height: 100%;
}

.content p{
  display: block;
  color: #aaa;
  padding-top: 20px;
  text-align: center;
}

#resume{
  display: block;
  color: #aaa;
  padding-top: 20px;
  text-align: center;
}


#spacer{
  padding-bottom: 500px;
}

a{
  text-decoration: none;
  outline: 0;
}
@media (max-width: 1200px){
  #page{
    width: 35rem;
  }
}
@media (max-width: 500px){
  #header{
    padding-bottom: 70px;
  }

  #container-top{
    width: 70%;
    padding-top: 40px;
  }
  .site-title a{
    font-size: 30px;
    text-align: center;
  }

  #page{
    width: 100%;
  }

  img{
    height: 200px;
  }

}

@media (max-width: 700px){
  .site-description{
    display: none;
  }
}
