<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/CSS/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/homecontent.css" />
    <link rel="shortcut icon" type="favicon.ico" href="/favicon/tempIcon.ico" />
    
    <title>Jeremy Bohannon</title>
</head>
<body>
    <div id="container">
        <!-- Header -->
        <div class="header">
            <a class="button" href="#">Home</a>
            <a class="button" href="/contact/">Contact</a>
        </div>
        <!-- Content -->
        <div class="content">
            <div class="inner-container">
                <div class="subject-bar">
                    <h1>Under Construction...</h1>
                    <a class="resume" id="third-party" href="/resume.pdf" target="_blank">Check out my resume in the mean time!</a>
                    </object>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer">
            <p class="footerMessage">Jeremy Bohannon &#169 2015. All Rights Reserved. </p>
        </div>
    </div>
</body>
</html>
